<mat-toolbar color="primary">
  <img
    src="https://img.logo.dev/eventify.io?token=pk_UGN6KKyETkmVS-a9T9-VFA&retina=true"
    alt="Logo"
    class="logo"
  />
  <span>Eventify</span>

  <span class="example-spacer"></span>

  <div class="button-container">
    <button  routerLink="" class="main-button">Home</button>
    <button  routerLink="rating" class="main-button">Rating</button>
  </div>

  <span class="example-spacer"></span>

  <mat-button-toggle-group name="lang" aria-label="Idioma"
  [value]="translate.currentLang || 'en'"
  (change)="changeLang($event.value)"
  >
    <mat-button-toggle value="es">ES</mat-button-toggle>
    <mat-button-toggle value="en">EN</mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>

<!-- <div
[value]="translate.currentLang || 'en'"
(change)="changeLang($event.value)"
>

</div> -->